<div class="card" style="width: 18rem;">
  <img [src]="product().photo" class="card-img-top" alt="Product Image">
  <div class="card-body">
    <h5 class="card-title">{{ product().name }}</h5>
    <p class="card-text">{{ product().description }}</p>
    
    <!-- Input không dùng ngModel trực tiếp trên Signal -->
    <input type="number" class="form-control text-center card-text" 
      [value]="product().quantity" min="1" max="100" id="quantity-input"
      (input)="handleQuantityChange($event)">
    
    <p class="card-text">VND {{ product().price.toFixed(2) }}</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
